NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;

NET "clk" LOC = P56 | IOSTANDARD = LVTTL;
NET "rst" LOC = P38 | IOSTANDARD = LVTTL;
NET "led" LOC = P134 | IOSTANDARD = LVTTL;